<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
  <div class="form-group">
    <label for="uname">UserName</label>
    <input
    type="text"
      class="form-control"
      id="uname"
      name="uname"
      placeholder="UserName"
      [(ngModel)] = "currentUser.username"
      required
    />
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Name"
    [(ngModel)] = "currentUser.name" required/>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control"
      id="email"
      name="email"
      placeholder="Email"
      [(ngModel)] = "currentUser.email" 
      required
      email
      />
  </div>
  @if(userForm.touched && userForm.invalid){
    <p>Invalid form</p>
  }
  <button type="button" class="btn btn-primary" (click) = "OnCancel()">Cancel</button> |
  <button type="submit" class="btn btn-primary">{{currentUser.id ? 'Update' : 'Add'}}</button>
</form>
